<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>ActsQueriesWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HitConnectionPoolAdmin</servlet-name>
<!-- 		<display-name>HitConnectionPoolAdmin</display-name> -->
<!-- 		<description>Generic Servlet that creates the Datasource used by the Application</description> -->
		<servlet-class>org.dhhs.dirm.acts.util.HitConnectionPoolAdmin</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ReportScheduler</servlet-name>
<!--  		<display-name>ReportScheduler</display-name> -->
<!-- 		<description>Report Scheduler that runs acts reports automatically.</description> -->
		<servlet-class>org.dhhs.dirm.acts.query.ReportScheduler</servlet-class>
		<load-on-startup>22</load-on-startup>
	</servlet>
</web-app>